.font {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: #cc005f;
  margin: 30px;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 0 2% 0;
}

.text {
  color: #888888;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  text-align: justify;
}

.subtitle {
  color: #888888;
  font-size: 25px;
}

@media (max-width:431px)  {
  .title{
    font-size: 30px;
  }
  .subtitle{
    font-size: 20px;
  }
  .text{
    line-height: 1.5;
    font-size: 16px;
  }
}
