.footerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: black;
}
.footerContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.footerContainer div h3{
    font-size: 25px;
    color: #cc005f;
    text-align: center;
    padding-top: 5%;
}
.footerContainer div a{
    font-size: 16px;
    color: #888888;
    text-align: center;
    padding-top: 2%;

}

@media (max-width: 501px) {
    .footerContainer div h3{
        font-size: 18px;
    }
    .footerContainer div a{
        font-size: 14px;
    }
    .footerContainer div{
        width: 100%;
    }
    .footerContainer{
        flex-direction: column;
        height: 70vh;
    }

}