.container {
  position: fixed;
  top: 35%;
  right: 15px;
  height: 20vh;
}

.desk {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.desk li {
  border: 3px solid #cc005f;
  margin: 20px;
  padding: 2%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
}

.desk li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cc005f;
  width: 3px;
  height: 23px;
  z-index: -1;
}

.desk li:last-child::before {
  display: none;
}

.linkp {
  position: absolute;
  right: 25px;
  top: -6px;
  color: #cc005f;
  width: 100px;
  opacity: 0.6;
}
.desk li:hover {
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.desk li.active {
  font-size: 18px;
  font-weight: bold;
  color: crimson;
  transition: all 0.3s ease;
  background-color: #cc005f;
}
.desk li.active p {
  opacity: 1;
}
.hideMobile {
  display: none;
}

.menuToggle input:checked~ul{
  display: block;
}
.menu{
  display: none
}



@media (max-width: 501px) {
  .desk {
    display: none;
  }
}
